/* 内容区布局开始 */
#content
  background: gray
  .list
    li
      position: relative
      div
        width: 1100px
        height: 520px
        background: pink
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        margin: auto
/* 内容区布局结束 */