/* 内容区布局开始 */
#content
  background: gray
  position: relative
  overflow: hidden
  width: 100%
  .list
    position: absolute
    left: 0
    top: 0
    width: 100%
    transition: 1s top
    li
      position: relative
      background-position: 50% 50% !important
      &.home
        background: url("../../src/img/bg1.jpg") no-repeat
      &.course
        background: url("../../src/img/bg2.jpg") no-repeat
      &.works
        background: url("../../src/img/bg3.jpg") no-repeat
      &.about
        background: url("../../src/img/bg4.jpg") no-repeat
      &.team
        background: url("../../src/img/bg5.jpg") no-repeat
      div
        width: 1100px
        height: 520px
        background-color: pink
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        margin: auto

/* 内容区布局结束 */